/*body{*/
/*height: 100%;*/
/*background: radial-gradient(circle,white,lightgreen);*/
/*-moz-background: radial-gradient(circle,white,lightgreen);*/
/*-webkit-background: radial-gradient(circle,white,lightgreen);*/
/*-o--background: radial-gradient(circle,white,lightgreen);*/
/*}*/

body {
    padding: 30px 0 70px;
}
.content {
    width: 94%;
    margin-left: 3%;
}
/**头部返回栏**/
.nav-top {
    background-color: black;
    color: white;
}
.page-title {
    font-size: 16px;
    line-height: 28px;
    padding-left: 135px;
}

.register-header {
    font-family: 黑体;
    margin:40px 0 50px;

}

.register-body {
    width: 80%;
    margin-left: 10%;
}
input {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid gray;
}
input::placeholder {
    font-size: 16px;
    padding-left: 10px;
}
input:focus {
    border: none;
    box-shadow: none;
}
#verify_code {
    width: 60%;
}
#verify_get {
    width: 40%;
    margin-top: 20px;
}
#submit-button {
    width: 100%;
    margin-top: 20%;
}